@import url('http://fonts.cdnfonts.com/css/norwester');

.item {
  /* position: absolute; */
  padding: 1rem;
  margin: 1rem;
  /* left: 10rem; */
  /* top: 10rem; */
  width: 20rem;
  border: 2px solid white;
  color: white;
}

.item-title {
  font-family: 'Norwester';
  position: relative;
  left: -2rem;
  top: -2rem;
  padding: 0.25rem 0.5rem;
  border: 2px solid white;
  background-image: linear-gradient(0.125turn, #e14631, #313638);
  background-size: 100vw 100vh;
  font-size: 1.5rem;
}

.item-media {
  width: 100%;
  filter: grayscale(1);
  transition: all 0.2s;
}

.item-media:hover {
  filter: grayscale(0);
}