.portfolio {
  display: flex;
  flex-flow: row wrap;
  padding: 2rem;
  width: 90%;
  gap: 2rem 1rem;
}

body {
  background-image: linear-gradient(0.125turn, #3b4755, #4a94b1);
  width: 100vw;
  height: 100%;
  min-height: 100vh;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* width: 100%; */
  /* height: 100%; */
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  /* border: 2px solid red; */
}

.modal.hidden {
  display: none;
}

.front-and-center {
  z-index: 6;
  position: absolute;
  left: 25%;
  /* top: 25%; */
  width: 50%;
  /* border: 2px solid red; */
}